[Unit]
Description="uwsgi observer"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
KillSignal=SIGQUIT
Type=notify
SyslogIdentifier=observer
Restart=on-failure
Environment="LANG=en_US.UTF-8"
ExecStart=/srv/observer/venv/bin/uwsgi --enable-threads --die-on-term --ini /srv/observer/uwsgi.ini
