[Unit]
Description="Observer article update listener"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=observer

Restart=on-failure
Environment="LANG=en_US.UTF-8"
User={{ pillar.elife.deploy_user.username }}
WorkingDirectory=/srv/observer

{% if pillar.elife.newrelic.enabled %}
Environment="NEW_RELIC_CONFIG_FILE=/srv/observer/newrelic.ini"
ExecStart=/srv/observer/venv/bin/newrelic-admin run-program ./manage.sh article_update_listener
{% else %}
ExecStart=/srv/observer/manage.sh article_update_listener
{% endif %}
