[Unit]
Description="Observer article update listener"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=observer

Restart=on-failure
Environment="LANG=en_US.UTF-8"
User={{ pillar.elife.deploy_user.username }}
WorkingDirectory=/srv/observer
ExecStart=/srv/observer/venv/bin/python src/manage.py update_listener
